@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Welcome to <br /> Mihai's Survey System</h1>
        <p><a href="~/Home/Survey" class="btn btn-primary btn-lg">Start Survey &raquo;</a></p>
    </center>
</div>
